.navbar-brand > img {
  height: 50px;
  vertical-align: middle;
  padding: 0px 0px 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

body {
  align: center;
  padding: 71px 0px 0px 0px;
  z-index: 0;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.navbar-inverse {
  background: black;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color: #5FACB6;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-position: center center;
}
.inverse-dropdown{
  background: black;

}
.inverse-dropdown>li>a{
  color: floralwhite;
}

.inverse-dropdown:hover{
  color: #fff;
  background-color: #000;
}

.navbar-nav > li > a {
  padding: 0px 0px auto;
  font-size: 16px;
  vertical-align: middle;
  line-height: 40px;
}

.navbar-fixed-top {
  min-height: 70px;
}

.navbar-header {
  min-height: 70px;
}

.dropdown-menu .divider{
  height: 1.1px;
}

.dropdown-header{
  font-size: 15px;
}

.inverse-dropdown-subheading {
  color: #ffffff;
}

.dropdown-menu .subheading {
  /*text-decoration: underline;*/
  padding: 3px 20px;
  clear: both;
  white-space: nowrap;
}
.dropdown-menu .subheading ul{
  display: none;
}
.dropdown-menu .subheading:hover ul{
  display: block;
}
.dropdown-menu .subheading:hover span{
  text-decoration: underline;
}

.inverse-dropdown a{
  color: #ffffff;
}

/*sird graph viz styles - START*/
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node-active{
  stroke: #555;
  stroke-width: 1.5px;
}

.link {
  stroke: #555;
  stroke-opacity: .3;
}

.link-active {
  stroke-opacity: 1;
}

.overlay {
  fill: none;
  pointer-events: all;
}

#map{
    border: 2px #555 dashed;
    width:1200px;
    height:800px;
}
/*sird graph viz styles - END*/
