.navbar-brand > img {
  height: 50px;
  vertical-align: middle;
  padding: 0px 0px 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

body {
  align: center;
  padding: 71px 0px 0px 0px;
  z-index: 0;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.navbar-inverse {
  background: black;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color: #5FACB6;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-position: center center;
}
.inverse-dropdown{
  background: black;

}
.inverse-dropdown>li>a{
  color: floralwhite;
}

.inverse-dropdown:hover{
  color: #fff;
  background-color: #000;
}

.navbar-nav > li > a {
  padding: 0px 0px auto;
  font-size: 16px;
  vertical-align: middle;
  line-height: 40px;
}

.navbar-fixed-top {
  min-height: 70px;
}

.navbar-header {
  min-height: 70px;
}

.dropdown-menu .divider{
  height: 1.1px;
}

.dropdown-header{
  font-size: 15px;
}
